<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation :new_debt %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= t "views.debts.index.header" %></h1>
</header>
<%= render 'shared/clear' %>

<div class="grid_8">
  <section>
    <%= render 'debts/table_header' %>
    <%= render @debts %>
  </section>
</div>

<aside class="grid_4">
  <div class="sidebar">
    <%= render "debts/sidebar", :debts => @debts_all, :action => "index" %>
  </div>
</aside>
<%= render 'shared/clear' %>

<footer>
  <div class="grid_12">
    <%= will_paginate @debts %>
  </div>
  <%= render "shared/clear" %>
</footer>
