<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation :new_debt %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= t "views.debts.index.header" %></h1>
</header>
<%= render 'shared/clear' %>
<section>
  <h4 class="grid_2"><%= t "activerecord.attributes.debt.date" %></h4>
  <h4 class="grid_1"><%= t "activerecord.attributes.debt.state" %></h4>
  <h4 class="grid_9"><%= t "activerecord.models.debt" %></h4>
  <%= render 'shared/spacer' %>
  <div class="grid_12">
    <%= render @debts %>
  </div>
</section>
<%= render 'shared/clear' %>
<footer>
  <div class="grid_12">
    <%= will_paginate @debts %>
  </div>
  <%= render "shared/clear" %>
</footer>
