<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation link_to(t("app.links.see_all_debts"), debts_path),
                      :new_debt,
                      link_to(t("app.links.edit_this_debt"), edit_debt_path(@debt)),
                      link_to(t("app.links.delete_this_debt"), @debt, :confirm => t("app.actions.confirmation"), :method => :delete, :class => "delete") %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= t "views.debts.show.header" %></h1>
</header>
<%= render 'shared/clear' %>

<section>
<div class="grid_12">
  <div class="grid_6 alpha">
    <% debtor = @debt.debt? ? "(#{t("app.you")}) #{current_user.full_name}" : link_to(@debt.budget.contact.full_name, @debt.budget.contact) -%>
    <% lender = @debt.loan? ? "(#{t("app.you")}) #{current_user.full_name}" : link_to(@debt.budget.contact.full_name, @debt.budget.contact) -%>
    <p><strong><%= t "views.debts.show.debtor" %>:</strong> <%= debtor %></p>
    <p><strong><%= t "views.debts.show.lender" %>:</strong> <%= lender %></p>
    <p><strong><%= t "views.debts.show.date" %>:</strong> <%= l @debt.date %></p>
  </div>
  <div class="grid_2 suffix_4 omega debt_data">
    <% state = @debt.paid? ? "paid" : "unpaid" -%>
    <div class="amount <%= state %>">
      <%= mark_amount(number_to_currency(@debt.amount)) %>
    </div>
    <div>
      <span class="state <%= state %>"><%= t("views.debts.state.#{state}") %></span>
      <% if @debt.paid? -%>
        <%= button_to t("app.links.unpaid"), { :controller => "debts" , :action => "unpay", :id => @debt.to_param }, :method => :put %>
      <% else -%>
        <%= button_to t("app.links.paid"), { :controller => "debts" , :action => "pay", :id => @debt.to_param }, :method => :put %>
      <% end -%>
    </div>
  </div>
</div>
<%= render 'shared/clear' %>
<div class="grid_12">
  <p><%= @debt.note %></p>
</div>
</section>
<%= render 'shared/clear' %>
