<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation link_to(t("app.links.see_all_contacts"), contacts_path),
                      :new_debt %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= t "views.users.search.header" %></h1>
</header>
<%= render 'shared/clear' %>
<section>
  <div class="grid_6 suffix_6">
    <%= render 'users/search_form' %>
  </div>
  <%= render 'shared/spacer' %>
  <%= render @users %>
</section>
<%= render 'shared/clear' %>
<footer>
  <div class="grid_12">
    <%= will_paginate @users %>
  </div>
  <%= render "shared/clear" %>
</footer>
