<% content_for :subnavigation do -%>
  <div class="elevencol last">
    <%= subnavigation :new_debt %>
  </div>
<% end -%>

<div class="container">
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <header class="elevencol last">
      <h1>Latest debts</h1>
    </header>
  </div>
  <section>
    <div class="row">
      <div class="onecol">
        &nbsp;
      </div>
      <div class="twocol">
        <h4>Date</h4>
      </div>
      <div class="threecol">
        <h4>Contact</h4>
      </div>
      <div class="twocol text_right">
        <h4>Amount</h4>
      </div>
      <div class="onecol">
        <h4>Type</h4>
      </div>
      <div class="onecol">
        <h4>Paid</h4>
      </div>
      <div class="twocol last">
        &nbsp;
      </div>
    </div>
    <%= render :partial => 'budgets/budget_spacer' %>
    <% @debts.each do |debt| -%>
      <div class="row debt_info">
        <div class="onecol">
          &nbsp;
        </div>
        <div class="twocol">
          <%= debt.date %>
        </div>
        <div class="threecol">
          <%= debt.budget.contact.full_name %>
        </div>
        <div class="twocol text_right">
          <%= mark_amount(currency(debt.amount)) %>
        </div>
        <div class="onecol">
          <%= debt.kind.humanize %>
        </div>
        <div class="onecol">
          <%= boolean_to_string debt.paid? %>
        </div>
        <div class="twocol last">
          <%= link_to "See more", debt.budget.contact, :class => "button main" %>
        </div>
      </div>
      <%= render :partial => 'budgets/budget_spacer' %>
    <% end -%>
  </section>
</div>
