<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation :new_debt, link_to(t("app.links.new_contact"), select_contacts_path) %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= t "views.home.index.header" %></h1>
</header>
<%= render 'shared/clear' %>
<div class="grid_8">
  <section>
    <%= render 'debts/table_header' %>
    <% if @debts.blank? -%>
      <p>&nbsp;</p>
    <% else -%>
      <%= render @debts %>
    <% end -%>
  </section>
  <header>
    <h1><%= t "views.invitations.index.header" %></h1>
  </header>
  <section>
    <%= render @invitations %>
  </section>
</div>

<aside class="grid_4">
  <div class="sidebar">
    <%= render "contacts/sidebar" %>
    <%= render "invitations/sidebar" %>
  </div>
</aside>
<%= render 'shared/clear' %>
