<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation link_to(t("app.links.see_all_contacts"), contacts_path),
                      link_to(t("app.links.new_contact"), select_contacts_path) %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= t "views.invitations.index.header" %></h1>
</header>
<%= render 'shared/clear' %>

<section>
  <%= render @invitations %>
</section>
<%= render 'shared/clear' %>

<footer>
  <div class="grid_12">
    <%= will_paginate @invitations %>
  </div>
  <%= render "shared/clear" %>
</footer>
