<div class="grid_4 <%= css %>">
  <h2><%= contact.full_name %></h2>
  <h3><%= mail_to contact.email %></h3>
  <% if contact.proxy? -%>
    <p><em><%= t "views.contacts.contact.linked" %></em></p>
  <% else -%>
    <p><em><%= t "views.contacts.contact.unlinked" %></em></p>
  <% end -%>
  <p>
    <%= raw "#{t("views.contacts.contact.total_debt")}: #{mark_amount(number_to_currency(Debt.shared_by(current_user, contact.proxy).total_sum(current_user)))}" %>
  </p>
  <p><%= link_to t("app.links.see_more"), contact, :class => "button main" %></p>
</div>
