<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation :new_contact %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= t "views.contacts.index.header" %></h1>
</header>
<%= render 'shared/clear' %>
<section>
  <% @contacts.each_slice(3) do |cols| -%>
    <% cols.each do |contact| -%>
      <%= render contact %>
    <% end -%>
    <%= render "shared/spacer" %>
  <% end -%>
</section>
<%= render 'shared/clear' %>
<footer>
  <div class="grid_12">
    <%= will_paginate @contacts %>
  </div>
  <%= render "shared/clear" %>
</footer>
