<% content_for :subnavigation do -%>
  <div class="elevencol last">
    <%= subnavigation :new_contact %>
  </div>
<% end -%>

<header class="container">
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="elevencol last">
      <h1>Contacts</h1>
    </div>
  </div>
</header>
<section>
  <% @contacts.each_slice(2) do |cols| -%>
    <div class="row">
      <%= content_tag :div, raw("&nbsp;"), :class => "onecol" %>
      <% cols.each do |contact| -%>
        <%= render :partial => 'contact', :object => contact %>
      <% end -%>
      <% if cols.length < 2 -%>
        <%= content_tag :div, raw("&nbsp;"), :class => "sixcol last" %>
      <% else -%>
        <%= content_tag :div, raw("&nbsp;"), :class => "onecol last" %>
      <% end -%>
    </div>
    <%= render :partial => "debts/debt_spacer" %>
  <% end -%>
</section>
