<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation link_to(t("app.links.see_all_contacts"), contacts_path) %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<div class="grid_12">
  <header>
    <h1><%= t "views.contacts.new.header" %></h1>
  </header>
  <section>
    <%= render 'form', :contact => @contact %>
  </section>
</div>
<%= render 'shared/clear' %>
