<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation link_to(t("app.links.see_all_contacts"), contacts_path),
                      :new_debt,
                      link_to(t("app.links.edit_this_contact"), edit_contact_path(@contact)),
                      link_to(t("app.links.delete_this_contact"), @contact, :confirm => t("app.actions.confirmation"), :method => :delete, :class => "delete") %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= @contact.full_name %> <small>(<%= mail_to @contact.email %>)</small></h1>
</header>
<%= render 'shared/clear' %>
<section class="grid_8 suffix_4">
  <div class="grid_2 alpha">
    <h3><%= t "views.contacts.contact.total_loan" %></h3>
    <p><%= mark_amount(number_to_currency(@debts_all.total_loan(current_user))) %></p>
  </div>
  <div class="grid_2">
    <h3><%= t "views.contacts.contact.total_debt" %></h3>
    <p><%= mark_amount(number_to_currency(@debts_all.total_debt(current_user))) %></p>
  </div>
  <div class="grid_2 omega suffix_2">
    <h3><%= t "views.contacts.contact.total_sum" %></h3>
    <p><%= mark_amount(number_to_currency(@debts_all.total_sum(current_user))) %></p>
  </div>
</section>
<%= render 'shared/clear' %>

<header class="grid_12">
  <h2><%= t "views.contacts.show.header" %></h2>
</header>
<%= render 'shared/clear' %>
<div class="grid_8">
  <section>
    <%= render 'debts/table_header' %>
    <%= render @debts %>
  </section>
</div>

<aside class="grid_4">
  <div class="sidebar">
    <%= render "debts/sidebar", :debts => @debts_all, :action => "show" %>
  </div>
</aside>
<%= render 'shared/clear' %>

<footer>
  <div class="grid_12">
    <%= will_paginate @debts %>
  </div>
</footer>
<%= render 'shared/clear' %>
