<% content_for :subnavigation do -%>
  <div class="grid_12">
    <%= subnavigation link_to(t("app.links.see_all_contacts"), contacts_path),
                      :new_debt,
                      link_to(t("app.links.edit_this_contact"), edit_contact_path(@contact)),
                      link_to(t("app.links.delete_this_contact"), @contact, :confirm => t("app.actions.confirmation"), :method => :delete, :class => "delete") %>
  </div>
  <%= render 'shared/clear' %>
<% end -%>

<header class="grid_12">
  <h1><%= @contact.full_name %> <small>(<%= mail_to @contact.email %>)</small></h1>
</header>
<%= render 'shared/clear' %>
<section class="grid_12">
  <%= render :partial => 'shared/total_debt', :object => @contact.budget.total %>
</section>
<%= render 'shared/clear' %>

<header class="grid_12">
  <h2><%= t "views.contacts.show.header" %></h2>
</header>
<%= render 'shared/clear' %>
<section>
  <h4 class="grid_2"><%= t "activerecord.attributes.debt.date" %></h4>
  <h4 class="grid_1"><%= t "activerecord.attributes.debt.state" %></h4>
  <h4 class="grid_9"><%= t "activerecord.models.debt" %></h4>
  <%= render 'shared/spacer' %>
  <div class="grid_12">
    <%= render @debts %>
  </div>
</section>
<%= render 'shared/clear' %>
<footer>
  <div class="grid_12">
    <%= will_paginate @debts %>
  </div>
</footer>
<%= render 'shared/clear' %>
