<% content_for :subnavigation do -%>
  <div class="elevencol last">
    <%= subnavigation link_to("See all contacts", contacts_path),
                      :new_debt,
                      link_to("Edit this contact", edit_contact_path(@contact)),
                      link_to("Delete this contact", @contact, :confirm => "Are you sure?", :method => :delete, :class => "delete") %>
  </div>
<% end -%>

<section class="container">
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="elevencol last">
      <header>
        <h1><%= @contact.full_name %> <small>(<%= mail_to @contact.email %>)</small></h1>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="twocol">
      <section>
        <p class="total_debt">
          Total debt: <%= mark_amount(currency(@contact.budget.total)) %>
        </p>
      </section>
    </div>
    <div class="ninecol last">
      <% if @contact.budget.paid? -%>
        <%= button_to "Not pay all", { :controller => "budgets", :action => "unpay", :id => @contact.budget.to_param }, :method => :put %>
      <% else -%>
        <%= button_to "Pay all", { :controller => "budgets", :action => "pay", :id => @contact.budget.to_param }, :method => :put %>
      <% end -%>
    </div>
  </div>
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="elevencol last">
      <header>
        <h2>Latest debts</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="twocol">
      <h4>Date</h4>
    </div>
    <div class="twocol text_right">
      <h4>Amount</h4>
    </div>
    <div class="twocol">
      <h4>Type</h4>
    </div>
    <div class="onecol">
      <h4>Paid</h4>
    </div>
    <div class="fourcol last">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="tencol">
      <hr class="recess" />
    </div>
    <div class="onecol last">
      &nbsp;
    </div>
  </div>
  <% @contact.budget.debts.order("date DESC").each do |debt| -%>
    <div class="row debt_info">
      <div class="onecol">
        &nbsp;
      </div>
      <div class="twocol">
        <%= debt.date %>
      </div>
      <div class="twocol text_right">
        <%= mark_amount(currency(debt.amount)) %>
      </div>
      <div class="twocol">
        <%= debt.kind.humanize %>
      </div>
      <div class="onecol">
        <%= boolean_to_string debt.paid? %>
      </div>
      <div class="threecol">
        <% if debt.paid? -%>
          <%= button_to "Not pay", { :controller => "debts", :action => "unpay", :id => debt.to_param }, :method => :put %>
        <% else -%>
          <%= button_to "Pay", { :controller => "debts", :action => "pay", :id => debt.to_param }, :method => :put %>
        <% end -%>
        <%= link_to "Edit", edit_debt_path(debt), :class => "button" %>
        <%= link_to "Delete", debt, :confirm => "Are you sure?", :method => :delete, :class => "button delete" %>
      </div>
      <div class="onecol last">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="onecol">
        &nbsp;
      </div>
      <div class="tencol">
        <hr class="recess" />
      </div>
      <div class="onecol last">
        &nbsp;
      </div>
    </div>
  <% end -%>
</section>
