<% content_for :subnavigation do -%>
  <div class="elevencol last">
    <%= subnavigation link_to(t("app.links.see_all_contacts"), contacts_path),
                      :new_debt,
                      link_to(t("app.links.edit_this_contact"), edit_contact_path(@contact)),
                      link_to(t("app.links.delete_this_contact"), @contact, :confirm => t("app.actions.confirmation"), :method => :delete, :class => "delete") %>
  </div>
<% end -%>

<section class="container">
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="elevencol last">
      <header>
        <h1><%= @contact.full_name %> <small>(<%= mail_to @contact.email %>)</small></h1>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="twocol">
      <section>
        <%= render :partial => 'shared/total_debt', :object => @contact.budget.total %>
      </section>
    </div>
    <div class="ninecol last">
      <%= render :partial => 'shared/pay_button', :locals => { :object => @contact.budget } %>
    </div>
  </div>
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="elevencol last">
      <header>
      <h2><%= t "views.contacts.show.header" %></h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="twocol">
      <h4><%= t "activerecord.attributes.debt.date" %></h4>
    </div>
    <div class="twocol text_right">
      <h4><%= t "activerecord.attributes.debt.amount" %></h4>
    </div>
    <div class="twocol">
      <h4><%= t "activerecord.attributes.debt.kind" %></h4>
    </div>
    <div class="onecol">
      <h4><%= t "activerecord.attributes.debt.paid" %></h4>
    </div>
    <div class="fourcol last">
      &nbsp;
    </div>
  </div>
  <%= render :partial => 'debts/debt_spacer' %>
  <%= render @debts -%>
  <div class="row">
    <div class="onecol">
      &nbsp;
    </div>
    <div class="elevencol last">
      <%= will_paginate @debts %>
    </div>
  </div>
</section>
