<!DOCTYPE html>
<html>
  <head>
    <title>DebtPursuit</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "1140", :media => "screen" %>
    <!--[if lte IE 9]>
      <%= stylesheet_link_tag "ie", :media => "screen" %>
    <![endif]-->
    <%= stylesheet_link_tag "smallerscreen", :media => "only screen and (max-width: 1023px)" %>
    <%= stylesheet_link_tag "mobile", :media => "handheld, only screen and (max-width: 767px)" %>
    <%= stylesheet_link_tag "layout", :media => "screen" %>
    <%= stylesheet_link_tag "redmond/jquery.ui", :media => "screen" %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <%= render :partial => 'layouts/user_info' %>
    <%= render :partial => 'layouts/main_nav' %>

    <div class="layout">
      <div class="container">
        <section class="row">
          <div class="onecol">
            &nbsp;
          </div>
          <%= yield :subnavigation %>
        </section>
      </div>
      <%= yield %>
    </div>

    <%= render :partial => 'layouts/footer' %>
    <%= javascript_include_tag :defaults %>
  </body>
</html>
