<!DOCTYPE html>
<html>
  <head>
    <title>DebtPursuit</title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "960", :media => "screen" %>
    <%= stylesheet_link_tag "layout", :media => "screen" %>
    <%= csrf_meta_tag %>
  </head>
  <body class="container_12">
    <div class="grid_4 prefix_4 suffix_4 login">
      <header class="logo">
        <h1>Debt<span class="light">Pursuit</span></h1>
      </header>
      <section class="content">
        <%= yield %>
      </section>
    </div>

    <%= javascript_include_tag :defaults %>
  </body>
</html>
